<form class='sandbar-form'>
        <div class='field-label'>Content</div>
        <input class='textfield' type='text' name='Content' value='<%= model.Content || ''%>'/>
        <div class='field-label'>Key</div>
        <input class='textfield' type='text' name='Key' value='<%= model.Key || ''%>'/>
        <div class='buttons'>
                <button class='sandbar-button'>Sign</button>
        </div>
        <label>Signature: <%= model.Signature || '' %></label>
</form>