<html>
<head>
	<title>Gosigner. A simple HMA SHA1 Signer</title>
        <script type='text/javascript' src='/static/javascripts/jquery-1.6.1.js'></script>
        <script type='text/javascript' src='/static/javascripts/underscore.js'></script>
        <script type='text/javascript' src='/static/javascripts/backbone.js'></script>
        <script type='text/javascript' src='/static/javascripts/application.js'></script>
        <link rel='stylesheet' type='text/css' href='/static/css/sandbar-forms.css'>
        <link rel='stylesheet' type='text/css' href='/static/css/sandbar.css'>
        <script type='text/template' id='index_template'>
                <form class='sandbar-form'>
                        <div class='field-label'>Content</div>
                        <div class='textfield'>
                                <input type='text' name='Content' value='<%= model.get('Content') || ''%>'/>
                        </div>
                        <div class='field-label'>Key</div>
                        <div class='textfield'>
                                <input type='text' name='Key' value='<%= model.get('Key') || ''%>'/>
                        </div>
                        <div class='buttons'>
                                <button class='sandbar-button'>Sign</button>
                        </div>
                        <label>Signature: <%= model.get('Signature') || '' %></label>
                </form>
        </script>


</head>
<body>
        <div id="sandbar-form" class="sandbar-form"/>
</body>
</html>
