<!DOCTYPE HTML SYSTEM>
<html>
<head>
	<title>Gosigner. A simple HMA SHA1 Signer</title>
        <script type='text/javascript' src='/static/javascripts/jquery-1.6.1.js'></script>
        <script type='text/javascript' src='/static/javascripts/underscore.js'></script>
        <script type='text/javascript' src='/static/javascripts/backbone.js'></script>
        <script type='text/javascript' src='/static/javascripts/application.js'></script>
        <link rel='stylesheet' type='text/css' href='/static/css/sandbar-forms.css'>
        <link rel='stylesheet' type='text/css' href='/static/css/sandbar.css'>
        <script type='text/template' id='index_template'>
                <div class='sandbar-form'>
                <form>
                        <div class='field-label'>Content</div>
                        <div class='textfield'>
                                <input type='text' name='Content' value='<%= model.get('Content') || ''%>'/>
                        </div>
                        <div class='field-label'>Key</div>
                        <div class='textfield'>
                                <input type='text' name='Key' value='<%= model.get('Key') || ''%>'/>
                        </div>
                        <div class='buttons'>
                                <button class='sandbar-button'>Sign</button>
                        </div>
                        <label>Signature: <%= model.get('Signature') || '' %></label>
                </form>
                </div>
        </script>
        <script type='text/template' id='about_template'>
                <div class='message'><p>A simple Go program to sign any content with a given key.
                It uses HMAC SHA1 for signatures.</p>
                <p>version <%= version %></p>
                <p>Follow me <a href='http://twitter.com/paulosuzart'>@paulosuzart</a></p>
        </script>

</head>
<body>
        <a href="#about" id="about">about</a>
        <div id="sandbar-form"/>
</body>
</html>
